body{
  background-color: rgba(210, 255, 9, 0.199);
}
p{
  font-size: 18px;
  margin-left: 2%;
}
h2{
  text-decoration: underline;
}
.topnav {
    overflow: hidden;
  }
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
.fi{
    width: 44%;
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
    text-align: center;
}
.inur{
  margin-left: 2.5%;
  margin-top: 2%;
  width: 400px;
  height: 350px;
}
.hh{
  font-family: Javanese Text;

}