body{
  margin: 0;
  padding: 1%;
  background-color: #8fa3ac88;
}
.block1 img{
  width: auto;
  height: 360px;
}
.containerq {
    position: relative;
  }  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.sidenav1 {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidenav1 a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}
.sidenav1 a:hover {
  color: #064579;
}
.main1 {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body.lock {
  overflow: hidden;
}
/*--------------------/Общие стили--------------------*/
/*--------------------Шапка--------------------*/
.header {
  background-color: #230a3f57;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.block{
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-bottom: 1%;
}
.navbar-logo {
  position: absolute;
  margin-left: 32%;
  margin-top: 2%;
  font-size: 30px;
  font-weight: 900;
  text-shadow:  #FC0 1px 0 10px;
}
.navbar-logo2 img{
  position: absolute;
  margin-left: 2%;
  margin-top: 1%;
  height: 70px;
  width: 120px;
}
.navbar-logo1 img{
  position: absolute;
  margin-left: 85%;
  margin-top: 1%;
  height: 70px;
  width: 150px;
}
/*--------------------/Шапка--------------------*/
/*--------------------Меню--------------------*/
.menu__icon {
  display: none;
}
.menu__body.active {
  left: 0;
}
.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-size: 20px;
  font-weight: 600;
}

.menu__link {
  color: #fff;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .menu__link {
    display: block;
    font-size: 25px;
    line-height: 70px;
  }
}
.dropdown {
    position: relative;
    display: block;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: rgba(43, 39, 59, 0.384);}  
.dropdown:hover .dropdown-content {display: block;}
.block2{
  margin-top: 2%;
  width: 100%;
}
.left{
  float: left;
  width: 20%;  
}
.nav_ul{
  list-style-type: none;
}
.left_l{
  height: 310px;
}
.left_l a{
  text-decoration: none;  
  font-size: 20px;
}
.left_l li{
  text-align: center;
  padding-top: 10px;
  display: block;
  background-color: #ffF;
}
.left_l li:hover{
  background-color: #230a3f57;
}
.ss{
  background-color: #15253583;
  color:white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.center{
  float: left;
  margin-left: 1%;
  width: 58%;
  background-color: #fff;
}
.right{
  float: left;
  margin-left: 1%;
  width: 20%;
}
.block3{
  padding-top: 20px;
  padding-left: 2%;
  padding-bottom: 20px;
  background-color: #15253583;
  margin-top: 2%;
  color:#fff;
}
.hhr{
  clear: both;
}
.k{
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}
.hb{
  margin: 1%;
  padding: 1%;
  font-size: 18px;
}
.hb img{
  width: 40%;
  height: 75%;  
  float: left;
  margin-right: 10px;
}
.prokrutka {  
  height: 300px; /* высота нашего блока */
  width: 98%; /* ширина нашего блока */
  background: #fff; /* цвет фона, белый */
  border: 1px solid #C1C1C1; 
  overflow-y: scroll; /* прокрутка по вертикали */
  }
  .imgi{
    width: 100%; 
  }
  .imgi img{
    width: 300px;
    height: 200px;
  }
  .cen{
    padding: 2%;
    font-size: 18px;
  }
 .imc{
  display: inline-block;
  margin-top: 2%;
  text-align: center;
 }
 .imc img{
  width: 300px;  
 }
 .sss{
  height: 310px;
  text-align: center;
  background-color: #FFF;
 }
 .sr a{
  color: #000;
 }
 .sr img{
  width: 100%;
  height: 90px;
 }
 .lr{
  margin-top: 4%;
  background-color: #FFF;
}
.lr img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  margin-top: 8%;
  width: 90%;
  height: 270px;
  border-radius: 3%;
}
.lr p{
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  padding-left: 16px;
  padding-bottom: 5px;
}


::-webkit-scrollbar{
  width: 15px;
}
.imk{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 60%;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(83, 73, 73); 
  /* border-radius: 10px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #45727449; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4572747a; 
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgba(41, 41, 41, 0.658); /* Add a dark-grey background on hover */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: 0.9s;
}

#myBtn:hover {
  background-color: rgb(98, 96, 117); /* Set a background color */
  transition: 0.9s;
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.left1{
  float: left;
  width: 50%;  
}
.right1{
  float: left;
  width: 50%;  
}
input[type=text], textarea, number {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=email]{
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=number]{
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.hbr{
  margin: 2%;
}
.hbr img{
  width: 360px;
  height: 250px;
  border-radius: 5%;
}